.projects{
    
    &__item_1  {
          padding-left: 25px;
          background-color: $color-section;
          height: 435px;
         
      }
    h3{
             @include font(40px, 300);
             color: $color-gray; 
    }
    p{
            @include font(16px, 300);
            line-height: 1.5;
            color: $color-black;
            margin: 20px 0;
    }
    img{
      margin-left: -30px;
      width: 670px;
      height: 435px;
      left: 135px;
      top: 353px;
    }
       &__counter {
           @include font(24px, 400, 0.2em);
           left: 0;
           bottom: 30px;
          line-height: 6;
           color: $color-gray;
           transition-delay: 0.4s;
           transition-duration: 0.4s;

           span:nth-child(2) {
               margin: 0 20px;
           }
       }
       .row {
           margin-top: 30px;
       
}}