.footer {
    padding-top: 60px;
    background-color: $color-black;

    &__logo {
        filter: brightness(0) invert(1);
    }

    &__title {
        @include font(16px, 700);
        margin-bottom: 25px;
        color: $color-white;
    }

    &__li {
        margin-bottom: 16px;
    }

    &__link {
        @include font(14px, 500, 0.03em);
        line-height: 24px;
        color: $color-white;
    }

    &__li1 {
        margin-right: 19px;
    }

    &__list1 {
        display: flex;
        justify-content: space-around;
        margin-left: 70px;
    }

    &__title1 {
        @include font(16px, 700);
        margin-bottom: 25px;
        color: $color-white;
        margin-left: 85px;
    }
    svg {
        padding-right:5px;
    }

}    .footer__line {
        margin-top: 50px;
        width: 100%;
        height: 1px;
        background: #FFFFFF;
        opacity: 10%;
    }

    .footer__foot {
        @include font(12px, 400);
        padding: 25px;
        text-align: center;
        color: #C8C8C8;
    }


@media screen and (max-width: 576px) {
    .footer {
      &__logo {
          margin-bottom: 20px;
      }
      &__item {
          justify-content: flex-start;
      }    
      &__title1 {
text-align: center;
      }
 }
}